@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

.content1 {
    display: flex;
    background-color: orange;
    justify-content: space-around
    
}

.header {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 12px 150px;
    align-items: center;
}

#logo {
    height: 100px;
    width: auto;
}  


ul {
    display: flex;
    gap: 25px; 
    font-family: roboto;
    font-size: 18px;
    color: #362511;
}


li {
    list-style-type: none;
}

.hero {
    font-family: roboto;
    font-size: 48px;
    font-weight: bolder;
    color: #362511;
    
}

.subtext {
    font-family: roboto;
    font-size: 18px;
    color: #362511
}

.signup {
    font-family: roboto;
    background-color: green;
    color: orange;
    font-weight: 900;
    border-radius: 8px;
    width: 150px;
    padding: 8px;
    margin-top: 8px;
}

.lcontent {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
    gap: 8px;
}

.farm {
    display: flex;
    align-items: center;
}

#farm {
    border-radius: 15px 50px;
    height: 300px;
    width: auto;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #362511;
}

.title {
    font-family: roboto;
    color: orange;
    font-size: 36px;
    font-weight: 900;
    padding: 48px 0;
}

#juice, #soup, #cake, #fitness {
    border-radius: 12px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.text1, .text2, .text3, .text4 {
    font-family: roboto;
    text-align: center;
    display: flex;
    padding-top: 12px;
    color: orange;
}

.boxes {
    display: flex;
    justify-content: space-around;
    padding: 0 600px;
    padding-bottom: 75px;
    gap: 24px
    
}

.group1, .group2, .group3, .group4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 75px 500px;
}

.textbody {
    font-family: roboto;
    font-size: 36px;
    font-style: italic;
    color: #362511
}

.signature {
    display: flex;
    justify-content: flex-end;
    color: #362511;
}

.sig {
    font-family: roboto;
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.body4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0;
    background-color: orange;
}

.banner {
    font-family: roboto;
    color:#362511;
    background-color: green;
    border-radius: 15px;
    padding: 50px 100px;
    display: flex;
    gap: 48px;
}

.bannertext {
    font-size: 24px;
    font-weight: bolder;
    
}

#bannersub {
    font-size: 18px;
    font-weight: lighter;
}

.signup2 {
    font-family: roboto;
    background-color: orange;
    color: green;
    font-weight: 900;
    border-radius: 8px;
    width: 150px;
    padding: 8px;
    margin-top: 8px;
    
}

footer {
    background-color: green;
    color: orange;
    display: flex;
    justify-content: center;
    padding: 25px;
}